body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("https://gjmfs.github.io/Resources/Images/pagebackground.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
}
.topnav {
    background-color: #1571db;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 0px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #530e61;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #093774;
  color: white;
}
a{
  width: 33.33%;
}
.preDe{
    width: 100%;
    border-collapse: collapse;
    border-color: rgb(179, 174, 174);
    border: 10px;
    height: 100%;
    border-radius: 35px;
}
.ptd{
text-align: center;
width: 90%;
}
.ptr{

}
.pth{
height: 50px;
background-color: rgb(185, 185, 185);
width: 10%;
}
.ptr:hover {
background-color: rgb(82, 12, 88); color: rgb(0, 0, 0);
}
img{
    height: 100px;
    width: 100px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255)
}
p{
    text-align: center;
    font-weight: 800;
    color: rgb(93, 0, 180);
}
h3{
    color: #0306aa;
    font-family: Arial, Helvetica, sans-serif;
}
